{% extends "plan/base.html" %}

{% block content %}
<h2>{{ calendar }} {{ year }}</h2>
<table border="10" style="table-layout: fixed; width: 500px; height:400px">
    <tr>
      {% for day in month_days %}
        {% if forloop.counter0|divisibleby:7 %}
          </tr><tr>
        {% endif %}
        <td onclick="openModal('{{ day }}')" style="text-align: left; vertical-align: top;">
          {% if day != 0 %}
            {{ day }}
            {% if day in event_dict %}
            <a href="{% url 'event_detail' event_dict.day.id|default:3 %}">  {{ event_dict.day.title|default:"tlqkf" }}
              </a>
            {% endif %}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
</table>
<style>
  #timer {
    font-size: 2em;
    margin-bottom: 10px;
  }
</style>
<div>

<div id="timer">00:00:00</div>
<button id="startBtn">Start</button>
<button id="stopBtn">Stop</button>
<script src="script.js"></script>

</div>
<div id="myModal" class="modal">
<div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p id="modal-day"></p>
    <p id="modal-title"></p>
    <a id="modal-link" href="https://github.com">event_dict</a>
</div>
</div>
  
<script>
function openModal(day, title, link) {
    document.getElementById("modal-day").innerHTML = "날짜: " + day;
    document.getElementById("modal-title").innerHTML = "제목: " + title;
    document.getElementById("modal-link").href = link;
    document.getElementById("myModal").style.display = "block";
}

function closeModal() {
    document.getElementById("myModal").style.display = "none";
}
</script>
  
<a href="{% url 'event_create' %}">일정 추가</a>
{% endblock %}